.carouselImage {
	width: 1000px;
	height: 470px;
	margin: 20px auto 30px auto;
	display: block;
	border-radius: 5px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	filter: invert(1);
}
.carouselContainer {
	margin-top: 30px;
}
.listItems {
	display: flex;
}
#navbarTogglerDemo01 {
	margin-top: 0;
	background-color: #ced5dd;
}

.listItems a {
	margin-right: 5rem;
}
.navItem {
	color: rgb(60, 60, 60);
}
.navItem:hover {
	color: #002333;
}

#login {
	border: 1px solid rgb(60, 60, 60);
	color: rgb(60, 60, 60);
	position: static;
	margin-left: 48rem;
	margin-top: 1px;
	text-align: center;
	overflow: hidden;
}
#login:hover {
	background-color: #159a9c;
	color: white;
}
#navbarSupportedContent {
	padding: 7px;
}
.homeInfo {
	padding: 7px;
	margin-top: 10px;
	color: rgb(60, 60, 60);
	text-align: center;
}
.image {
	border-radius: 5%;
	width: 280px;
	height: 250px;
}
.dropItem:hover {
	background-color: #b4bec9;
}
.dropDownMenu {
	background-color: #b4bec9;
}
div .bodyshape {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
footer {
	background-color: #002333;
	color: #b4bec9;
	padding: 10px;
	text-align: center;
}
footer p {
	margin: 0;
	font-size: small;
}
